html{
  background-color:  '(0, 0, 255)';
  text: '(0,0,0)' ;
}
h1{
  text-align: center ;
}

main, body{
  float: center ;
  margin: auto;
  height: '100%';
}
nav{
  margin: auto ;
  text-align: center ;
  display: inline- flex;
  flex-direction: column;
  vertical-align: center ;
  float: center ;
}
li a:link {    
        color: '(0, 0, 0)';}
li a:visited {        
        color: '(0, 0, 0)';}
li a:hover{
        color: '(0, 0, 0)' ; }
li{
    padding: '50em';
  }
a{
    text-decoration: none;
  }
ul{
      list-style-type: none;
  }
