html{
  background-color: 'blue';
  text: 'black' ;
}
h1{
  text-align: center ;
}

main, body{
  float: center ;
  margin: auto;
}
nav{
  margin: auto ;
  text-align: center ;
  display: inline- flex;
  flex-direction: column;
  vertical-align: center ;
  ul{
  a: link{
    text-decoration: none;
  }
  list-style-type: none;}
  li{
    padding: '5em';
  }
}
