html{
  background-color:  '(0, 0, 255)';
  text: 'black' ;
}
h1{
  text-align: center ;
}

main, body{
  float: center ;
  margin: auto;
  height: '100%';
}
nav{
  margin: auto ;
  text-align: center ;
  display: inline- flex;
  flex-direction: column;
  vertical-align: center ;
  float: center ;
  ul{
      list-style-type: none;
  }
  a{
    text-decoration: none;
  }
li a:link {    
        color: '(0, 0, 0)';}
li a:visited {        
        color: '(0, 0, 0)';}
li a:hover{
        color: '(0, 0, 0)' ; }
  li{
    padding: '50em';
  }
}
